<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
		<meta charset="utf-8"/>
		<meta name=referrer content=origin/>
		<meta name=viewport content="width=device-width,initial-scale=1"/>
		<meta name=description content="{{title}}"/>
		<link href=atom.xml rel=alternate type=application/atom+xml/>
    <link rel="stylesheet" href="/css/style.css" />
<link
			href="/css/prism-one-light.css"
			rel="stylesheet"
		/>
  </head>
  <body>
    <main class="container max-w-[736px] mx-auto p-4">
			<div class="flex items-center justify-between mb-10">
				<a class="text-gray-400 text-sm flex items-center gap-1" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
						<path fill="currentColor" d="m7.825 13l5.6 5.6L12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2z"/>
					</svg>
					home
				</a>
				<div></div>
			</div>

    <header class="mb-5">
			<h1 class="text-2xl text-white font-semibold mb-2">{{ title }}</h1>
			<p class="text-gray-400 text-sm">{{page.date | date: "%b %d, %Y" }}</p>
		</header>
			{{ content }}
		</main>
  </body>
</html>
