<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
		<meta charset="utf-8"/>
		<meta name=referrer content=origin/>
		<meta name=viewport content="width=device-width,initial-scale=1"/>
		<meta name=description content="{{title}}"/>
		<link href=atom.xml rel=alternate type=application/atom+xml/>
    <link rel="stylesheet" href="/css/style.css" />
<link
			href="/css/prism-one-light.css"
			rel="stylesheet"
		/>
  </head>
  <body>
    <main style="max-width: 736px; margin: 0 auto; padding: 4px;">
			<div style="display: flex; align-items: center; justify-content:
				space-between; margin-bottm: 10px">
				<a style="color:#99A1AF; font-size: 14px; display: flex; align-items:
					center; gap: 5px;" href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
						<path fill="currentColor" d="m7.825 13l5.6 5.6L12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2z"/>
					</svg>
					home
				</a>
				<div></div>
			</div>

    <header style="margin-bottom: 40px;">
			<h1 style="font-size: 24px; color: white; font-weight: 600; margin-bottom: 5px;">{{ title }}</h1>
			<p style="color: #99A1AF; font-size: 14px;">{{page.date | date: "%b %d, %Y" }}</p>
		</header>
			{{ content }}
		</main>
  </body>
</html>
