@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  background-color: #18181b;
  color: #cdcdcd;
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: auto;
}

img {
  width: 100%;
}

a {
  color: #facc15;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
}

code {
  background-color: #333333;
  border-radius: 5px;
  padding: 2px 3px;
  color: #eeeeee;
}
