---
permalink: /atom.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ metadata.url }}/atom.xml" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.post %}
  {%- if post.data.published != false %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ metadata.url }}{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}{{ post.url }}</id>
    {%- if post.data.summary %}
    <summary>{{ post.data.summary }}</summary>
    {%- endif %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(metadata.url) }}</content>
  </entry>
  {%- endif %}
  {%- endfor %}
</feed>
