---
layout: layout.html
---
<div class="post-list">
{% for post in collections.post %}
{% if post.data.published != false %}
<a class="post-card" href="{{post.url}}">
	<div class="post-card-title">{{ post.data.title }}</div>
	{%if post.data.summary %}
	<div class="post-card-summary">{{post.data.summary}}</div>
	{% endif %}
	<div class="post-card-date">{{post.data.date | date: "%b %d, %Y"}} · {{ post.templateContent | readingTime }} min read</div>
	{% assign displayTags = post.data.tags | displayTags %}
	{% if displayTags.size > 0 %}
	<div class="tag-list">
		{% for tag in displayTags %}
		<span class="tag">{{ tag }}</span>
		{% endfor %}
	</div>
	{% endif %}
</a>
{% endif %}
{% endfor %}
</div>
